# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Firebase
serviceAccountKey.json
scripts/serviceAccountKey.json
firebase-debug.log
firebase-crashlytics-build.json

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
/.next/
/out/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem

# Local Environment Variables
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Debug files
*.pid
*.seed
*.log
*.csv
*.dat
*.out
*.tmp
*.swp

# Coverage directory
/coverage
/.nyc_output

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Optional eslint cache
.eslintcache

# Optional Prettier cache
.prettiercache

# Optional Parcel cache
.cache

# dotenv environment variables file
.env
.env.development.local
.env.test.local
.env.production.local

# Gatsby files
.cache/
public

# Next.js build output
.next

# output folder
/dist
/build

# IDX specific
.idx
firebase-admin-tools/serviceAccountKey.json
